@import '../../scss/variables';

.wrapper {
  list-style: none;
  margin-left: 5%;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-style: italic;
  font-size: 18px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.button {
  @extend %button;
  margin-right: 5%;
}
